@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 198 17% 91%;
    --foreground: 215 28% 17%;
    --card: 198 17% 98%;
    --card-foreground: 215 28% 17%;
    --popover: 198 17% 98%;
    --popover-foreground: 215 28% 17%;
    --primary: 0 72% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 71% 73%;
    --secondary-foreground: 215 28% 17%;
    --muted: 198 17% 85%;
    --muted-foreground: 215 15% 45%;
    --accent: 197 71% 83%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 198 10% 80%;
    --input: 198 10% 84%;
    --ring: 0 72% 61%;
    --radius: 0.5rem;
    --chart-1: 197 71% 73%;
    --chart-2: 0 72% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 198 17% 91%;
    --card: 215 28% 22%;
    --card-foreground: 198 17% 91%;
    --popover: 215 28% 22%;
    --popover-foreground: 198 17% 91%;
    --primary: 0 72% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 71% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 28% 25%;
    --muted-foreground: 198 17% 60%;
    --accent: 197 71% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 0 72% 61%;
    --chart-1: 197 71% 73%;
    --chart-2: 0 72% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 198 17% 91%;
    --sidebar-primary: 0 72% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 28% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 28% 25%;
    --sidebar-ring: 0 72% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
